<?xml version="1.0"?>
<launch>

	<!-- Arguments -->

  	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle]"/>
	<arg name="map_file" default="$(find prjtdde05)/mapping/the_map3.yaml"/>
	
	<!-- Turtlebot3 -->
  	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    		<arg name="model" value="$(arg model)" />
  	</include>

	<!-- Turtlebot3 Navigation & passed custom map file-->
  	<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    		<arg name="map_file" value="$(arg map_file)" />
  	</include>


	<!-- Assert Transformations for the spurned Turtlebot3 robot: Leave 'no body' behind -->
  	<include file="$(find prjtdde05)/launch/assertTF.launch">
    
  	</include>

</launch>

